*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
     font-weight: 400;
     font-style: normal;
}

/* generic central rules */


.flex {
    display: flex;
}

.none {
    display: none;  
    /* display none for menu hamburger */
}

.btn {
    padding: 7px 40px;
    border-radius: 25px;
    text-decoration: none;
    /* button */
}

/* REGOLE HEADER */

header{
    background-color:#0084FD ;
    height: 70px;
    margin-bottom: 50px;
    position:fixed;
    z-index: 900;
    left: 0;
    right: 0;
    top: 0;
}

.container{
    width: 90%;
    margin: 0 auto;
    /* DEBUG */
    background-color: blue;
    min-height: 100%;
}

/* container solo per l'header con flex */

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: red;
}

.logo img, .icon img {
    height: 40px; /* Adjust the height as needed */
}

.logo {
    display: flex;
    align-items: center;
    width: 100px;
}

.icon {
    display: flex;
    align-items: center;
    width: 100px;
}

/* INIZIO MAIN */

/* Sezione Funzionalità */
    /* regole base */

    main {
        margin-top: 7rem;
    }


    /* VERSIONE TABLET 768 */

    @media all and (min-widht:768px) { 
        
    }
    .function .container{
        display: flex;
        margin: 10px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .function .col-50{
        width: calc(100% / 3) * 2) -20px);
    }

    .function .col{
        width:calc(100% / 3);
        /* DEBUG */
        background-color: chocolate;
      border: solid black 1px;
        min-height: 100px;
    }


 