*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
     font-weight: 400;
     font-style: normal;
}

/* generic central rules */

.container-flex{
    display: flex;
}

.none{
    display: none;
}



.btn  {
    padding: 7px 40px;
    border-radius: 25px;
    text-decoration: none;
    background-color: #fff;
    text-align: center;
    color: #9792e4;
    list-style: none;
    /* button */
}



/* REGOLE HEADER */

header{
    background-color:#0084FD ;
    width: 100%;
    height: 70px;
    margin-bottom: 50px;
    position:fixed;
    z-index: 900;
    left: 0;
    right: 0;
    top: 0;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
    /* DEBUG */
    background-color: blue;
    
}



/* container solo per l'header con flex */

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    padding: 10px;
    background-color: red;
}

header ul {
    justify-content: space-between;
    align-items: center;
    height: 80px;
    list-style: none;
    color: #fff;
}

.logo img, .icon img {
    height: 40px; /* Adjust the height as needed */
}

.logo {
    display: flex;
    align-items: center;
    width: 100px;
    height: 50px;
}

.hamburger {
    display: flex;
    align-items: center;
    width: 100px;
    height: 50px;
    background-color: yellowgreen;
}

.main-nav {
    display: none;
  
    
}

p {
    line-height: 30px;
}






/* INIZIO MAIN */

/* Sezione Funzionalità */
    /* regole base */

    main {
       margin-top: 5rem;
    }

    .col{
    
        min-height: 100px;
        background-color: chocolate;
        border: solid gray;
    }

    .col-50{
        min-height: 100px;
        background-color: aqua;
        border: solid gray;
    }


    /* sezione PLANNING */
        /* regole base */

        .planning {
            
            background-color: #9792e4;
            margin-top: 2rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        .planning .container{
            display: block;
            width: 90%;
            
        }

        .left {

            width: 100%;
            background-color: #d9e8fc;
            padding: 20px;
            box-sizing: border-box;
            min-height: 100px;
            border: solid black 1px;
            
            
        }
        
        .right {
           width: 100%;
            background-color: #fcd9d9;
            padding: 20px;
            box-sizing: border-box;
            min-height: 100px;
            
        }

        /* SEZIONE GENERALE PARTNERS */

        .partners {
            margin-top: 2rem;
            padding-top: 1rem;
            padding-bottom: 2rem;
            
         }

        .partners .container{
            margin: 0 auto;
            padding: 20px;
            width: 70%;
            background-color: #fff;
            

            
        }

        .partners .content .col{
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-color: #9792e4;
            width: 70%;
           
        }

        .title, .sub-title, p{
            text-align: center;
            padding-top: 1rem;
            padding-bottom: 2rem;
        }

        .sub-title h2{
            color:  #9792e4;

        }

        .title{

            font-weight: bold;

        }
        
        .image-container {
            flex-shrink: 0;
            margin-right: 20px;
        }
        
        .circular-image {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }
        
        .text-container {
            flex-grow: 1;
            font-size: 10px;
        }
        
        .text-container p {
            margin: 0;
        }

        /* SEZIONE WITH US */
        .withus, .container-flex, .title{
            margin-top: 2rem;
            padding-top: 1rem;
            padding-bottom: 2rem;
            background-color: #9792e4;
        }

        .withus .container{
            width: 90%;
            margin: 0 auto;
            padding: 0 20px;
            
        }
         .container-flex {
            display: block;

        }
        
        .withus .flex-item {
           
            margin: 10px;
            text-align: center;
            background-color: #fff;
            color:#9792e4;
            border: solid black 1px;

      }

      .withus .title{
        color: #fff;

      }


      /* SEZION ABOUT US */

      .about-us .container-flex {
        display: block;

    }

    .about-us .container{
        width: 90%;
        margin: 0 auto;
        padding: 0 20px;
        
    }
    
     .about-us .flex-item {
       
        margin: 10px;
        text-align: center;
        background-color: #fff;
        color:#9792e4;
        border: solid black 1px;

  }


  /* SEZIONE GET-STARTED */

  .get-started

  .get-started .container{
    background-color: #9792e4;
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
  }

  .get-started  .container-flex {
    display: flex;
    justify-content: center;

}


  .get-started .flex-item {
       
    margin: 10px;
    text-align: center;
    background-color: #fff;
    color:#9792e4;
    border: solid black 1px;

}

        /*  */
/* INIZIO FOOTER */

Footer{
    background-color:rgba(21, 20, 20, 0.879) ;
    width: 100%;
    
}

footer .container{
    background-color: #9792e4;
    width: 70%;
    margin: 0 auto;
    padding: 0 20px;
}

footer  .container-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}


  footer .flex-item {
    width: 100%;
    margin: 10px;
    text-align: center;
    background-color: #fff;
    color:#9792e4;
    border: solid black 1px;

}



    /* VERSIONE TABLET 768 */

   @media screen and (min-width:768px) {

    /* sezione function */
    .function .container{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }


    .function .col{
    width: calc(100% / 3 - 20px);
    border-radius:1rem;
    margin: 10px;
    text-align: center;
    background-color: #B5DDFF;
    }

  
    .col-50{
    width: calc(100% / 3 * 2 - 20px) ;
    display: flex;
   margin: 10px;
    justify-content: center;
    background-color: #0084FD;
    
    }

 
   /* fine sezione function tablet */



   /* SEZIONE PLANNING TABLET */
   .planning .container{
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 10px;
    
}

/*  SEZIONE WITH US MOBILE 768 */

 .withus .container-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    

}

.withus .flex-item {
    width: calc(50% - 20px); /* Utilizzo calc() per dividere lo spazio su tre colonne */
    margin: 10px;
    text-align: center;
    background-color: #fff;
    color:#9792e4;
    border: solid black 1px;

}


/* SEZIONE TABLET 768 ABOUT US */
.about-us .container-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    

}

.about-us .flex-item {
    width: calc(50% - 20px); /* Utilizzo calc() per dividere lo spazio su tre colonne */
    margin: 10px;
    text-align: center;
    background-color: #fff;
    color:#9792e4;
    border: solid black 1px;

}
   
}


   /* MODE DESKTOP */
@media screen and (min-width: 1025px) {

    
    .container{
        width: 80%;
    }

    /* regole header */
    .hamburger{
        display: none; 
    }

    .main-nav{
    display: block;
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px;

    }
    


/*  SEZIONE WITH US BREAKPOINT DESKTOP */
     .withus .container-flex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-content: space-between;
        

    }
    
    .withus .flex-item {
        width: calc(33.33% - 20px); /* Utilizzo calc() per dividere lo spazio su tre colonne */
        margin: 10px;
        text-align: center;
        background-color: #fff;
        color:#9792e4;
        border: solid black 1px;

  }
}